@import '../../styles.scss';

.header {
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    box-orient: horizontal;
    box-direction: normal;
    box-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    h5 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.25rem;
        font-weight: 700;
        margin-right: auto;
        color: #eee;
    }
    nav {
        margin-right: 1rem;
        a {
            font-size: 0.75rem;
            text-transform: uppercase;
            text-decoration: none;
            padding: .5rem;
            color: #d5d5d5;
            &:hover {
                border-bottom: 1px solid #23cf5f;
            }
        } 
    }
}