@import '../../styles.scss';

.result {
    width: 100vw;
    .container {
        padding: 10rem 2rem;
        color: #fff;
        .status {
            text-transform: uppercase;
            margin-bottom: 2rem;
            font-family: 'Montserrat', sans-serif;
            font-size: 3rem;
        }
        .subtext {
            margin: 1rem 0;
            font-family: 'Open Sans', sans-serif;
            font-size: 1rem;
        }
    }
}